{% extends "paging.html" %}

{% block content %}
    <div class="card-group" style="margin-top: 20px">
        {% for author in authors.items %}
            <div class="card text-center" style="padding-left: 2px">
                <img src="{{ author.url_photo }}" class="card-img-top" alt="Photo of {{ author.name }}"
                     style="width: 400px;height: 350px!important;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for("authors.inspect_view", id=author.id_a) }}"
                                              class="link-info author-name">{{ author.name }}</a></h5>
                    <p class="card-text">{{ author.short_description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nationality: {{ author.nationality.nationality }}</li>
                    <li class="list-group-item">Number of songs: {{ author.number_of_songs }} </li>
                    <li class="list-group-item">Number of albums: {{ author.number_of_albums }}</li>
                </ul>
                <div class="card-footer">
                    <a href="{{ url_for("authors.update_view", id=author.id_a) }}" class="btn btn-light">Update</a>
                    <a href="#" class="btn btn-danger"
                       onclick="$('#authors-delete--{{ author.id_a }}').submit()">Delete</a>
                    <form action="{{ url_for("authors.delete_record", id=author.id_a) }}" method="POST"
                          id="album-delete--{{ author.id_a }}">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <p class="text-left mt-3">
        <a href="{{ url_for("authors.add_view") }}" class="btn btn-primary">Add author</a>
    </p>
{% endblock %}